/* hader related style */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-left: 100px;
  padding-top: 50px;
}
.imges{
    width: 150px;
    height: 50%;
    margin-top: 25px;
}
nav{
    display: flex;
       justify-content: space-between;
}
.dissp{
    display: flex;
}
.gamer{
    font-size:45px ;
    color: #FF42A5;

}
.ameryi{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
   margin-left: -200px;
}
.bodyed{
    font-size: 45px;
    margin-top: 30px;

   
}
.button{
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.conect{
  border:1px solid #FFF;
  justify-content: center;

}
.gnna{
    width: 18px;
}
.gnnanm{
    width: 18px;
}
 .cunpess{
    display: flex;
 }
 .cunpess li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    color: #3C354F;
    font-size: 18px;
 }
 /* hader style coolsed */
 /* main related style */
 .commpany{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 80px;
 }
 .containt{
    font-size: 80px;
    font-weight: 800;
  margin-left: 140px;
    color:darkviolet ;
    margin-top: -25px;
 }
 .insates{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-left: 155px;
    margin-top:-55px;
 }
 .btn-primary{
   color:#0B0223; 
    background-color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 15px;
    border-radius: 48px;
 }
.btn-primarys{
    color:#0B0223; 
    background-color: cyan;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 15px;
    border-radius: 48px;
}
.faek{
    margin-left: 140px;

}



 section{
    background-color: #FFF;
    background-image: image-set();
 }

 /* end */
 /* div staring */
 .imgr-dooll{
    width: 520px;
    height: 527px;
    background: #FFF;
    margin-top: -30px;
   
 }

 .section-1{
    display: flex;
    justify-content: space-between;
 }

/* secktion-2 related style */
.section-2{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
height: 600px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
}
.img-1{
    width: 600px;
    height: 400px;
   margin-left: 100px;
}

.minering{
    font-size: 48px;
    font-weight: 700;
    color:#8758F1  ;
    margin-right: 200px;
}
.pargrup{
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px; 
    width: 400px;
    margin-right: 200px;
}
.button-1{
    padding: 21px 40px;
    border-radius: 48px;
    gap: 10px;
    background-color: #FF42A5;
    margin-right: 200px;
}
.unples{
    color: #534C64;
    font-size: 24px;
    font-weight: 100px;
    line-height: 45px;
    text-align: right;
font-family: Work Sans;
margin-right: 200px;
}
span{
    color: #534C64;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px;
    text-align: right;
font-family: Work Sans;
margin-right: 200px;

}
.gaping{
    margin-left: 50px;
    margin-right: 100px;
    text-align: right;
font-family: Work Sans;
}
/* section-2 related style */
.section-3{
    width: 1920px;
height: 2927px;
background: #FFF;
}
.games-prot{
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
    margin-left: 640px;
}
.spaner{
    font-size: 48px;
    font-weight: 700;
    color: #8758F1;
}
.Videos{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-left: 690px;
    margin-top: -18px;
}

.card{
    border-radius: 16px;
    width: 342px;
     height: 400px;
    flex-shrink: 0;
    margin-left: 50px;
  
  
}
.Rectangle{
    display: flex;
    gap: 24px;
    margin-left: 130px;
}
.lakeing{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
/* new img relatede style */
.caltibate{
    margin-top: 300px;
}

   

.potol{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #F948B2;
    margin-left: 300px;
}
.caltibte{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-left: -200px;
    width: 300px;
}
.related{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 300px;
    margin-left: 400px;
}
.myimges{
    margin-left: 700px;
    margin-top: -100px;
}
.tripol{
    margin-top: 200px;
    margin-left: 980px;
    width: 300px;
}
.spaimg{
    color:#F948B2 ;
     font-size: 40px;
     font-weight: 700;
     line-height: 60px;
}
.Anytime{
    color: #0B0223;
font-size: 40px;
font-weight: 700;
line-height: 60px;
margin-left: -200px;
}
.japiling{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 300pxs;
}
.Hilarious{
    margin-left: 195px;
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
/* new div arterimg */
.caretise{
    background-color:#FF42A5 ;
}
.careers{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
line-height: 60px; 
margin-left: 150px;
margin-top: 200px;



}
.picser{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 500px;
margin-left: 150px;
margin-top: 150px;
}
.hakl{
    color: #FFF;
font-size: 20px;
font-weight: 600;
line-height: 50px;

}
.halsd{
    color: #FFF;
font-size: 20px;
font-weight: 600;
line-height: 40px;
}
.lakdjfd{
    display: flex;
    gap: 40px;
    margin-left: 150px;
}
.kasdflk{
    border-radius: 48px;
background: #FFF;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
margin-left: 200px;
margin-top: -300px;
margin-bottom: -300px;
}
.kljklds{
    width: 600px;
height: 500px;
margin-left: 850px;
margin-top: -1000px;
}
/* section 4 related stlyes */
.section-4{
    width: 1920px;
height: 427px;
flex-shrink: 0;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
margin-top: 0px;
}
.button-2{
    width: 248px;
height: 80px;
border-radius: 50px;
background: #FFF;
display: flex;
justify-content: center;
margin-top: 30px;
color:#0B0223 ;
font-size: 20px;
font-weight: 600;
}

.actioner{
    display: flex;
    justify-content: center;
}
.button-5{
    width: 317px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
color:#0B0223 ;
font-size: 20px;
font-weight: 600;
display: flex;
justify-content: center;
gap: 10px;
margin-top: 30px;

}
  .mujikfing{
    display: flex;
    justify-content: center;
  }

.cariaes{
 
}
.fdjklds{
    width: 50px;
    height: 50px;
}
.future{
    width: 1920px;
height: 636px;
flex-shrink: 0;
background: #0B0223;
}
.saldkfj{
    margin-top: 200px;
    margin-left: 48%;
}
.halsd{
    font-size: 45px;
    font-weight: 700;
    color: #FF42A5;
    margin-left: 200px;
}
.dfsaas{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    margin-left: -200px;
}
.sdflkjas{
    margin-left: 43%;
    margin-top: -44px;
}
.footerdf{
    color: #FFF;
font-size: 18px;
font-weight: 600;
list-style: none;
display: flex;
gap: 60px;
margin-left: 630px;
margin-top: 60px;
}
.kmrimger{
    width: 40px;
height: 40px;
flex-shrink: 0;
}
.kamruler{
    display: flex;
    gap: 60px;
    margin-left: 800px;
    margin-top: 40px;
}
.rihanrer{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
list-style: none;
display: flex;
gap: 60px;
margin-left: 720px;
margin-top: 30px;
}
.lksadjflkj{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 150px;
margin-top: 60px;
}
/* footer style is end */
/* responsive media queries */
@media screen and (max-width:576px) {
 header{
   padding: 20px;
 }
  nav,
   .section-1,
    .section-2,
     .section-3,
      .section-4,
       .future{
    flex-direction: column;
  }
    
}
@media screen and (min-width:576px) and(max-width:960px)
 {
    header{
        padding: 20px;
      }
       nav,
        .section-1,
         .section-2,
          .section-3,
           .section-4,
            .future{
         flex-direction: column;
       }
}