/* hader related style */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-left: 100px;
  padding-top: 50px;
}
.imges{
    width: 150px;
    height: 50%;
    margin-top: 25px;
}
nav{
    display: flex;
       justify-content: space-between;
}
.dissp{
    display: flex;
}
.gamer{
    font-size:45px ;
    color: #FF42A5;

}
.ameryi{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
   margin-left: -200px;
}
.bodyed{
    font-size: 45px;
    margin-top: 30px;

   
}
.button{
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.conect{
  border:1px solid #FFF;
  justify-content: center;

}
.gnna{
    width: 18px;
}
.gnnanm{
    width: 18px;
}
 .cunpess{
    display: flex;
 }
 .cunpess li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    color: #3C354F;
    font-size: 18px;
 }
 /* hader style coolsed */
 /* main related style */
 .commpany{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 80px;
 }
 .containt{
    font-size: 80px;
    font-weight: 800;
  margin-left: 140px;
    color:darkviolet ;
    margin-top: -25px;
 }
 .insates{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-left: 155px;
    margin-top:-55px;
 }
 .btn-primary{
   color:#0B0223; 
    background-color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 15px;
    border-radius: 48px;
 }
.btn-primarys{
    color:#0B0223; 
    background-color: cyan;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 15px;
    border-radius: 48px;
}
.faek{
    margin-left: 140px;

}



 section{
    background-color: #FFF;
    background-image: image-set();
 }

 /* end */
 /* div staring */
 .imgr-dooll{
    width: 520px;
    height: 527px;
    background: #FFF;
    margin-top: -30px;
   
 }

 .section-1{
    display: flex;
    justify-content: space-between;
 }

/* secktion-2 related style */
.section-2{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
height: 600px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
}
.img-1{
    width: 600px;
    height: 400px;
   margin-left: 100px;
}

.minering{
    font-size: 48px;
    font-weight: 700;
    color:#8758F1  ;
    margin-right: 200px;
}
.pargrup{
    color: #534C64;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px; 
    width: 400px;
    margin-right: 200px;
}
.button-1{
    padding: 21px 40px;
    border-radius: 48px;
    gap: 10px;
    background-color: #FF42A5;
    margin-right: 200px;
}
.unples{
    color: #534C64;
    font-size: 24px;
    font-weight: 100px;
    line-height: 45px;
    text-align: right;
font-family: Work Sans;
margin-right: 200px;
}
span{
    color: #534C64;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px;
    text-align: right;
font-family: Work Sans;
margin-right: 200px;

}
.gaping{
    margin-left: 50px;
    margin-right: 100px;
    text-align: right;
font-family: Work Sans;
}

@media screen and (max-width:576px) {
 header{
   
 }
    
}
@media screen and (min-width:576px) and(max-width:960px)
 {
    
}